@model IEnumerable<ClassBoots.Models.Video>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LectureID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Refference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Views)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="rows">
        <tr id="row" class="hidden">
            <td class="ID"></td>
            <td class="LectureID"></td>
            <td class="Refference"></td>
            <td class="Views"></td>
            <td class="Position"></td>
            <td></td>
        </tr>
    </tbody>
</table>


@section Scripts
    {
    <script>
        $.get('./api/Videos', function (data) {
            $.each(data, function () {
                var $row = $('#row').clone();
                $row.attr('id', '_' + this.id);

                $row.find('.ID').html(this.id);
                $row.find('.LectureID').html(this.lectureID);
                $row.find('.Refference').html(this.refference);
                $row.find('.Views').html(this.views);
                $row.find('.Position').html(this.position);

                $row.removeClass('hidden');
                $('#rows').append($row);
            });
            $('#row').remove();
        });
    </script>
}
