@model ClassBoots.Models.Video
@using Microsoft.AspNetCore.Identity
@using ClassBoots.Areas.Identity.Data
@using System.Security.Claims;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Details";
    ViewData["jumbo"] = 100;
    if (User.FindFirst("Role").Value == "Admin")
    { Layout = "/Views/Shared/_LayoutAdmin.cshtml"; }
    else
    { Layout = "/Views/Shared/_Layout.cshtml"; }
}

@*<h2>@Html.DisplayFor(model => model.Name)</h2>*@

<div>


    @*<h4>Lecturer - @Html.DisplayFor(model => model.LectureID)</h4>*@
    <div id="player">
        <iframe width="100%" height="600" src="https://www.youtube.com/embed/@Html.DisplayFor(model => model.URL)" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>

    <div class="row">
        <div class="col-2">
            @Html.DisplayNameFor(model => model.Views) @Html.DisplayFor(model => model.Views)
        </div>
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-2"></div>
    </div>
    <h2> Related for this video: </h2>
    <div id="related" class="row">

    </div>
    @*<dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.URL)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.URL)
            </dd>
            <dt>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Views)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Position)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Position)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.OwnerID)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.OwnerID)
            </dd>
        </dl>*@
</div>
@if (User.FindFirst("Role").Value == "Admin")
{
    <div>
        <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    </div>
    <a asp-action="Index">Back to List</a>

}

@section Scripts {
<script>
    document.addEventListener('DOMContentLoaded', () => {

        $.get('/learn/'+@Model.ID+'/5', function (data) {
            $.each(data, function () {
                $('#related').append('<a href="/Video/View/' + this.id + '"><div class="col-2"><h5>' + this.name + '</h5><img src="https://img.youtube.com/vi/' + this.url + '/1.jpg" /></div></a>');
            });
        });
    });
</script>
}

@*  How to use Roles:
    Dont forget using this on your chtml page:
        @using Microsoft.AspNetCore.Identity
        @using ClassBoots.Areas.Identity.Data
        @inject SignInManager<User> SignInManager
        @inject UserManager<User> UserManager

    And the condition goes like: (Actual code)
*@