@inject SignInManager<User> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="">
    <li class="@ManageNavPagesAdmin.IndexNavClass(ViewContext)"><a asp-page="./Index">Index</a></li>
    <li class="@ManageNavPagesAdmin.UsersNavClass(ViewContext)"><a asp-page="./Users">Users</a></li>
    <li class="@ManageNavPagesAdmin.InstitutionsNavClass(ViewContext)"><a asp-page="./Institutions">Institutions</a></li>
    <li class="@ManageNavPagesAdmin.SchoolsNavClass(ViewContext)"><a asp-page="./Schools">Schools</a></li>
    <li class="@ManageNavPagesAdmin.SubjectsNavClass(ViewContext)"><a asp-page="./Subjects">Subjects</a></li>
    <li class="@ManageNavPagesAdmin.LecturesNavClass(ViewContext)"><a asp-page="./Lectures">Lectures</a></li>
    <li class="@ManageNavPagesAdmin.VideosNavClass(ViewContext)"><a asp-page="./Videos">Videos</a></li>
</ul>
